<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Milk Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Milk Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      button
      detail
      *ngFor="let note of notes"
      [routerLink]="'/notes/' + note.id"
      routerDirection="forward">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
