<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-milkdown
    (ngModelChange)="saveNote()"
    [(ngModel)]="note.content"
    (focus)="focused = true"
    (blur)="focused = false"></app-milkdown>
  <!-- <ion-textarea
    (input)="saveNote()"
    [(ngModel)]="note.content"
    placeholder="What's on your mind?">
  </ion-textarea> -->
</ion-content>

<ion-footer *ngIf="focused">
  <ion-toolbar>
    <button>test</button>
    <input />
  </ion-toolbar>
</ion-footer>
